::-webkit-scrollbar {
    width: 4px;
    height: 0;
    margin-left: 20px !important;

}

::-webkit-scrollbar-track {
    width: 1px !important;
    background-color: #3B3486;
}

::-webkit-scrollbar-thumb {
    width: 4px !important;
    background-color: #864AF9 !important;
}

::-webkit-scrollbar-track-piece {
    width: 10px !important;
    border-radius: 15px !important;
}

